.circles-animation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: lightseagreen;

  .circle {
    position: absolute;
    border-radius: 50%;
  }

  .circle-dark {
    width: 60rem;
    height: 60rem;
    background: darkblue;
    animation: 14s dark infinite ease-in-out;
    animation-timing-function: ease-in-out;
  }

  .circle-light {
    width: 20rem;
    height: 20rem;
    background: beige;
    animation: light 14s infinite ease-in-out;
  }
}

.text {
  display: flex;
  align-self: flex-end;
  position: absolute;
  margin-bottom: 2rem;
  flex-direction: column;

  span {
    font-family: 'Helvetica', 'Verdana', 'Arial', sans;
    letter-spacing: 2vh;
    font-size: 1rem;
    font-weight: light;
    text-transform: uppercase;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    animation-duration: 14s;
    animation-iteration-count: infinite;

    &.inhale {
      animation-name: inhale;
    }

    &.exhale {
      animation-name: exhale;
    }
  }
}

.center {
  width: 30rem;
  overflow: hidden;
  position: relative;
  display: flex;
}

@keyframes inhale {
  0% {
    display: none;
    opacity: 0;
  }
  10% {
    display: block;
    opacity: 0;
  }
  20% {
    display: block;
    opacity: 1;
  }
  40% {
    display: block;
    opacity: 1;
  }
  45% {
    display: block;
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

@keyframes exhale {
  0% {
    display: none;
    opacity: 0;
  }
  60% {
    display: none;
    opacity: 0;
  }
  61% {
    display: block;
    opacity: 0;
  }
  75% {
    display: block;
    opacity: 1;
  }
  95% {
    display: block;
    opacity: 1;
  }
  99% {
    display: block;
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

@keyframes light {
  0%,
  100% {
    -webkit-transform: scale(0.4);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
@keyframes dark {
  0% {
    -webkit-transform: scale(1);
    opacity: 0.5;
  }
  50% {
    -webkit-transform: scale(0.3);
    opacity: 1;
  }

  80% {
    opacity: 0.6;
  }

  100% {
    -webkit-transform: scale(1);
    opacity: 0.5;
  }
}
